<%= render "shared/navbar" %>
<!--Spacer lol-->
<div class="h-20"></div>


<main class="bg-black text-neutral-400 min-h-screen flex flex-col items-center">
  <h1 class="font-bold text-2xl text-center px-5 pt-10">Contact the Voice of the Hustler</h1>
  <h3 class="text-sm text-center px-5 pt-3 italic lg:w-1/2"> Fill out the form to get in contact.  You can also email me at <%= mail_to 'contact@voiceofahustler.com', class: "text-blue-800 hover:underline"%></h3>
  <%= render "form", message: @message %>
</main>
<%= render "shared/footer"%>