  <!--Social Section-->
  <section class="w-full h-12 flex flex-row justify-evenly lg:justify-center lg:gap-10 items-center bg-neutral-900 py-10">
    <%= render "shared/social"%>
  </section>

  <footer class="w-full h-12 flex flex-row justify-evenly items-center bg-neutral-900 text-white text-xs italics py-5">
  <div class="text-neutral-900 text-xs absolute z-0 overflow-hidden -left-80">
  <%= link_to "Voice of a Hustler Website Designed and Developed by Tim Jedrek", "https://timjedrek.com"%>
  </div>
    Copyright <%= Date.today.year %> Voice of a Hustler
  </footer>