<section class="w-full h-screen bg-gc-cta bg-cover bg-center flex justify-center items-center">
  <div class="flex flex-col justify-center items-center drop-shadow-2xl text-neutral-100">
      <h2 class="w-4/5 font-bold text-3xl sm:text-5xl lg:text-7xl">Go online with the <span class="text-purple-600 underline">Voice of a Hustler</span> and play video games.</h2>
      <p class="w-4/5 py-5 lg:py-10 lg:text-2xl font-semibold">Visit the Gaming Corner and find out how to play video games online with Jayrone.</p>
      <%=link_to "Play Now", game_corner_path, class: "uppercase  text-2xl font-sans font-bold bg-neutral-200 hover:bg-neutral-50 transition-all duration-200 hover:scale-105 text-neutral-800 px-4 rounded-lg py-2"%>
  </div>
</section>