<%= render "shared/navbar"%>
<main class="bg-neutral-800 text-gray-300">
  <!--Spacer-->
  <div class="h-20">
  </div>
  <!--Form-->
  <div class="px-10 mx-auto lg:w-2/3 w-full mt-10">
    <h1 class="font-bold text-6xl font-splash text-neutral-400 text-center">Add a Tour</h1>
    <%= render "form", tour: @tour %>
  </div>
  <!--Spacer-->
  <div class="h-20">
  </div>
</main>
<%= render "shared/footer"%>