<%= render "shared/navbar" %>

<main class="bg-black text-neutral-400">
  
  <!--CTA link to contact us-->
  <%= render "shared/cta"%>
</main>
<%= render "shared/footer"%>
<!--div from shared/navbar that was left open for sticky nav-->
</div>