<%= render "shared/navbar" %>
<main class="bg-neutral-800 text-gray-300">

  <header class="w-full h-screen bg-gamecorner bg-cover bg-center flex justify-center items-center">
      <div class="flex flex-col justify-center items-center  mx-20 lg:hidden">
        <h1 class=" text-center text-7xl font-bold font-splash">
          Game Corner<br>
        </h1>
      </div>
  </header>

  
  <section class="px-5 text-lg">
    <div class="pt-10 pb-5 lg:text-center">
      This is your chance to get online and play with Jayrone.  Pick a game below and download the game on your mobile device.  
    </div>
    <div class="pb-10 lg:text-center">
      After you download the game on your mobile device, link to your social media, sign in, and add my gamertag @voiceofahustler.
    </div>
  </section>

</main>

<%= render "shared/footer"%>