<%= render "shared/navbar" %>
<div class="h-20"></div>
<main class="bg-neutral-800 text-gray-300">
  <header class="bg-black">
    <div class="grid place-items-center">
      <%= image_tag "godv.png" %>
    </div>
  </header>
  <section class="px-5">
    <h3 class="text-center text-3xl italic py-10">Guns Oracles Drugs V</h3>
    <p class="pb-10">
      Guns Oracles Drugs V is an full length studio album created by JayRone <span class="text-blue-400 hover:underline">@voiceofahustler</span> that brings to life music. Merchandise is available for this studio album also featuring an exclusive sneaker design available for purchase!
    </p>
  </section>

  
</main>

<%= render "shared/footer"%>