<%= render "shared/navbar"%>
<main class="bg-black">
  <!--Spacer-->
  <div class="h-20">
  </div>
  <!--Form-->
  <div class="px-10 mx-auto lg:w-2/3 w-full mt-10">
    <h1 class="font-bold text-6xl font-splash text-neutral-400 text-center">New Feature</h1>
    <%= render "form", feature: @feature %>
  </div>
  <!--Spacer-->
  <div class="h-20">
  </div>
</main>
<%= render "shared/footer"%>